* {
    border: 0.5px dotted red;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header.links {
    display: flex;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
    
}
.header li a {
    text-decoration: none;
    color: black;
}

