body {
  display: flex;
  margin: 0;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}
.header,
.main-container,
.footer {
  background-color: #1f2937;
  color: white;
}
.footer {
  padding: 30px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}
.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}
.header li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 70px;
  flex: 1 1 100%;
}
.main-container-left,
.main-container-right {
  flex-wrap: wrap;
  flex: 1;
  height: 200px;
  max-width: 500px;
}
.main-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-container-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
#main-container-subtext {
  color: #e5e7eb;
  font-size: 18px;
  max-width: 85%;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.main-image .cards img {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

.main-image .main-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

#hero {
  display: flex;
  flex-direction: column;
}
.info {
  max-width: 150px;
}

.main-action .action {
  display: flex;
  background-color: #3882f6;
  width: 750px;
  padding: 30px;
  border-radius: 20px;
  flex: 1;
  justify-content: space-evenly;
}
.main-action {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-action .action .p {
  padding: 0;
  margin: 0;
  color: white;
}
.main-action .action #h1.p {
  font-weight: bold;
  font-size: 15px;
}
.main-action .action .action-left {
  display: flex;
  flex-direction: column;
}
.main-action .action .action-right {
  display: flex;
  flex-direction: row;
}
.main-action .action .action-right button {
  background-color: #3882f6;
}
.main-image #image-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding: 30px;
}
.main-quote,
.main-container-right {
  background-color: #e5e7eb;
  color: black;
}
.main-quote #quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300px;
  font-style: italic;
  max-width: 750px;
  padding: 0;
  margin: 0;
}

button {
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  border-style: none;
}
.action-right button {
  border: 1px solid white;
}
.info {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-image {
  padding-bottom: 60px;
}
.main-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 100px;
}
.main-quote #signature {
  font-weight: bolder;
  text-align: end;
  width: 750px;
  padding: 0;
  margin: 0;
}
